@font-face {
    font-family: "printclearly";
    src:
        url("assets/fonts/printclearly-ggp-webfont.woff2") format("woff2"),
        url("assets/fonts/printclearly-ggp-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #039cb3;
    --main-color-dark: #026d7e;
    --main-color-light: #03c4e2;
    --main-color-light-opacity: #03c4e266;
    --error-color: #e23b03;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

aside footer {
    color: white;
    margin-top: auto;
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
}

footer a {
    color: inherit;
}

.sidebar {
    background-image: url("assets/img/wesley-tingey-9-OCsKoyQlk-unsplash.jpg");
    background-size: cover;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.logo {
    margin-top: 20vh;
    font-family: printclearly;
    font-size: 128px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    letter-spacing: -12px;
}

.main {
    flex: 2;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header,
form,
.login-create-section {
    padding-inline: 48px;
}

header {
    font-weight: bold;
    font-size: x-large;
}

form {
    background-color: white;
    padding-block: 2rem;
    margin-bottom: 1rem;
}

form,
input:focus,
button {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

form h2 {
    margin-top: 0;
}

form .row {
    display: flex;
    flex-flow: wrap;
}

form label {
    text-transform: uppercase;
    font-size: small;
    letter-spacing: 1px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    padding: 0.5rem;
    font-size: medium;
}

input:user-invalid,
.error,
.required-indicator {
    border-color: var(--error-color);
}

.required-indicator {
    color: var(--error-color);
}

input:focus {
    outline: none;
    border-color: var(--main-color-light);
}

.row>div {
    margin-right: 5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    position: relative;
}

button {
    background-color: var(--main-color);
    padding: 1rem 3rem;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: white;
    margin-block: 1rem;
}

button:active {
    background-color: var(--main-color-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

button:not(:active):hover,
button:not(:active):focus {
    background-color: var(--main-color-light);
    box-shadow: 0px 3px 5px var(--main-color-light-opacity);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color);
}

a:focus,
a:hover{
    color: var(--main-color-light);
}

input:user-valid:not(.error)+.checkmark-indicator::after {
    position: absolute;
    right: -1.5rem;
    top: 45%;
    content: ' ✔';
    color: #03b503;
}

input:user-invalid+.checkmark-indicator::after {
    position: absolute;
    right: -1.5rem;
    top: 45%;
    content: ' ✘';
    color: var(--error-color);
}

#password {
    position: relative;
}

#pwd-error-msg {
    display: none;
    position: absolute;
    bottom: -1.25em;
    color: var(--error-color);
    font-size: small;
}

#pwd-error-msg.error {
    display: flex;
}

@media only screen and (max-width: 767px) {
    body {
        flex-direction: column;
    }

    .sidebar {
        flex: unset;
    }

    .logo {
        margin: 0;
    }

    .login-create-section {
        text-align: center;
    }

    .row>div{
        margin-right: unset;
        max-width: unset;
    }
}