@font-face {
    font-family: "printclearly";
    src:
        url("assets/fonts/printclearly-ggp-webfont.woff2") format("woff2"),
        url("assets/fonts/printclearly-ggp-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

:root{
    --background-color: #2ba2b6;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    font-family: system-ui, sans-serif;
}

aside footer {
    color: white;
    margin-top: auto;
    font-size: smaller;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 6px;
}

footer a {
    color: inherit;
}

.sidebar {
    background-image: url("assets/img/wesley-tingey-9-OCsKoyQlk-unsplash.jpg");
    background-size: cover;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.logo {
    margin-top: 20vh;
    font-family: printclearly;
    font-size: 128px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    letter-spacing: -12px;
}

.main {
    flex: 2;
}

button {
    background-color: var(--background-color);
}